body, html {
    cursor: url('chromehearts.png'), auto;
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.background-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.background-wrap video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(10px);
}

.background-wrap .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 1;
    transition: opacity 3s ease;
    cursor: pointer;
    pointer-events: none;
}

.overlay a {
    pointer-events: auto;
    color: white;
    font-size: 24px;
    font-family: 'Arial', sans-serif;
    transition: font-size 0.3s ease;
    text-decoration: none;
}

.overlay a:hover {
    font-size: 28px;
}

.content {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(1px);
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 0 20px 10px rgba(41, 39, 39, 0.2);
}

.content img {
    width: 360px;
    height: 300px;
    margin-right: -7px;
    margin-left: -7px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.content img:hover {
    transform: scale(1.1);
}

.content:hover {
    transform: translate(-50%, -50%) scale(1.1);
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);
}

.content-text {
    color: rgba(255, 255, 255, 0.9);
}

.Socials {
    margin-top: 20px;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons a {
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
    margin: 0 10px;
    display: inline-block;
    line-height: 1;
    pointer-events: auto;
    font-size: 24px;
    transition: transform 0.3s ease;
}

.social-icons a:hover {
    color: #ffffff;
    transform: scale(1.2);
}

.mute-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 2;
    transition: transform 0.3s ease-in-out;
}

.mute-button i {
    font-size: 24px;
    color: rgba(255, 255, 255, 0.9);
}

.mute-button:hover {
    transform: scale(1.2);
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    color: white;
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
}
